<div class="row" id="login-form">
    <div class="col-md-6 offset-md-3">
        <div class="col-md-12 title" style="margin-bottom: 30px">
            <span>Silahkan login</span>
        </div>
        <%= form_for(:session, url: validate_path) do |f| %>
            <div class="form-group row">
                <%= f.label "Username", :class => 'col-form-label col-sm-4'%>
                <div class="col-sm-8" >
                    <%= f.text_field :username, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label "Password", :class => 'col-form-label col-sm-4'%>
                <div class="col-sm-8" >
                    <%= f.password_field :password, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-info full-width">Login</button>
                </div>
            </div>
        <% end %>
    </div>
</div>