<div class="row" >
    <div class="col-md-10 offset-md-1">
        <div class="col-md-12 title">
            <span>List tempat</span>
        </div>
        <div class="">
        <div class="row">
            <% @tempat.each do |tmp| %>
                <div class="col-sm-4 grid-tmp">
                    <div class="card">
                        <% if tmp.image.blank?%>
                            <%= image_tag ('a.jpg'), class: 'card-img-top' %>
                        <% else %>
                            <%= image_tag (tmp.image_url), :class => 'img-owner img-fluid' unless tmp.image.blank? %>
                        <% end %>
                        <div style="padding: 15px" class="card-block">
                            <h4 class="display-5"><%= tmp.nama_tempat %></h4>
                            <%= link_to 'Manage', manage_tempat_path(tmp.id), :class => 'btn bg-hejo2' %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col" style="margin-top: 34px">
            <%= link_to 'Tambah baru', new_owner_path, :class => 'btn btn-info' %>
            <hr>
        </div>
        </div>
    </div>
</div>