 <div class="row" >
    <div class="col-md-10 offset-md-1">
        <div class="col-md-12 title">
            <span>Profil Tempat</span>
        </div>
        <div class="col-md-12 main-content">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <h3 class="display-5"><%=@tempat.nama_tempat%></h3><br>
                    <p><span class="display-5"><b>Alamat:</b> <%=@tempat.alamat%></span></p>
                    <p><span class="display-5"><b>Kontak:</b> <%=@tempat.kontak%></span></p>
                    <p><span class="display-5"><b>Instagram:</b> @futsaleuy</span></p>
                    <p><span class="display-5"><b>Jumlah Lapang:</b> 200</span></p>
                </div>
                <div class="col-sm-4 img-profil">
                    <%= image_tag (@tempat.image_url), :class => 'img-profil' unless @tempat.image.blank? %>
                </div>
            </div>
        </div>

        <div class="title">
            <span>Lapang tersedia</span>
        </div>
        <div class="col-md-12 main-content">
            <div class="row">
                <% @lapangs.each do |l| %>
                <div class="col-sm-3">
                    <div class="card">
                        <%= image_tag (l.image_url), :class => 'img-thumb card-img-top' unless l.image.blank? %>
                        <div style="padding: 15px" class="card-block">
                            <h5 class="display-5"><%= l.nama_lapang %></h5>
                            <%= link_to 'Lihat jadwal', show_lapang_as_member_path(params[:id],l.id), :class => 'btn btn-sm btn-info' %>
                        </div>
                    </div>
                </div>
                <% end %> 
            </div>
        </div>
    </div>
</div>