<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
        <%= link_to "FUTSALIN", root_path, :class => 'navbar-brand lead'%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me" aria-controls="me" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="me">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active lead">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item lead">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <ul class="navbar-nav pull-right">

            <% if !account_signed_in? %>
                <li class="nav-item"><%= link_to "Register", register_path, :class => 'nav-link' %></li>
                <li class="nav-item"><%= link_to "Login", login_path, :class => 'nav-link' %></li>
            <% else %>
                <li class="nav-item"><%= link_to current_account.username, logout_path, :class => 'nav-link' %></li>
                <li class="nav-item"><%= link_to "Logout", logout_path, :class => 'nav-link' %></li>
            <% end %>
            
            </ul>
        </div>
    </div>
</nav>