<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
        <%= link_to "~ futsalin", root_path, :class => 'navbar-brand lead'%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me" aria-controls="me" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="me">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active lead">
                </li>
            </ul>
            <ul class="navbar-nav pull-right">

            <% if !account_signed_in? %>
                <li class="nav-item"><%= link_to "Register", register_path, :class => 'nav-link' %></li>
                <li class="nav-item"><%= link_to "Login", login_path, :class => 'nav-link' %></li>
            <% else %>
                <% 
                    dashboard = root_path
                    if current_account.status=='owner' 
                        dashboard=owner_dashboard_path
                    elsif current_account.status=='admin' 
                        dashboard=admin_dashboard_path
                    end
                %>
                <li class="nav-item">
                    <a href="<%=notif_path(current_account.id)%>" class="nav-link">
                        Notification <span style="position:relative;bottom: 3px" class="new-order">1 </span>
                    </a>
                </li>

                <% if current_account.status=="admin" %>
                    <li class="nav-item"><%= link_to "Dashboard", admin_dashboard_path, :class => 'nav-link'%></li>
                <% elsif current_account.status=="owner" %>
                    <li class="nav-item"><%= link_to "Dashboard", owner_dashboard_path, :class => 'nav-link'%></li>
                <% end %>

                <li class="nav-item"><%= link_to "Edit profil", edit_user_path(current_account.id), :class => 'nav-link'%></li>
                <li class="nav-item"><%= link_to "Logout", logout_path, :class => 'nav-link' %></li>
            <% end %>
            
            </ul>
        </div>
    </div>
</nav>